{% if user.is_authenticated %}
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books</title>
    <link rel="stylesheet" href="{% static 'css/books.css' %}" type="text/css">
    <!-- <link rel="stylesheet" href="books.css" type="text/css"> -->
    <link href='https://fonts.googleapis.com/css?family=Sofia' rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Amaranth' rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=ABeeZee' rel="stylesheet">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    
</head>
<body>
    <header id="book">
        <span class="booke">Booksmith</span>
        <div class="dropbtn">
            <a href="#"><i class="fas fa-align-justify fa-lg"></i></a>
            <div class="content">
                <a  class="not" href="javascript:{document.getElementById('logout').submit()}">LOG OUT</a>
            </div>
        </div>
    </header>
    <header>
    <h1>Read through our collection</h1>
    <h2>There's something for everybody</h2>
    </header>
    <div id="tags">
        <p class="tag">THRILLER</p>
        <p class="tag">TECHNOLOGY</p>
        <p class="tag">LITERATURE</p>
        <p class="tag">RELIGION</p>
        <p class="tag">HISTORY</p> 
        <p class="tag">FICTION</p>
        <p class="tag">BUSINESS</p>
        <p class="tag">CHILDREN</p> 
        <p class="tag">LOVE</p> 
        <p class="tag">TRAVEL</p>
        <p class="tag">FANTASY</p>
        <p class="tag">ADULT</p>
        <p class="tag">LITERATURE</p>
        <p class="tag">MYSTERY</p>
       
    </div>
    <div id="note">
        <a href="#" class="apt"><img src="{% static 'images/1520164370.jpg' %}"></a>
        <a href="#" class="apt"><img src="{% static 'images/cover-32503.jpg' %}"></a>
        <a href="#" class="apt"><img src="{% static 'images/cover-auto-10574.jpg' %}"></a>
        <a href="#" class="apt"><img src="{% static 'images/cover-auto-22045.jpg' %}"></a>
        <a href="#" class="apt"><img src="{% static 'images/cover-auto-2332.jpg' %}"></a>
        <a href="#" class="apt"><img src="{% static 'images/cover-cust-1242.jpg' %}"></a>
        <a href="#" class="apt"><img src="{% static 'images/cover-cust-13095.jpg' %}"></a>
        <a href="#" class="apt"><img src="{% static 'images/cover-cust-2473.jpg' %}"></a>
        <a href="#" class="apt"><img src="{% static 'images/cover-cust-5421.jpg' %}"></a>
        <a href="#" class="apt"><img src="{% static 'images/cover-cust-5724.jpg' %}"></a>
        <a href="#" class="apt"><img src="{% static 'images/cover-orig-14615.jpg' %}"></a>
        <a href="#" class="apt"><img src="{% static 'images/cover-orig-19691.jpg' %}"></a>
        <a href="#" class="apt"><img src="{% static 'images/cover-orig-20040.jpg' %}"></a>
        <a href="#" class="apt"><img src="{% static 'images/cover-orig-27199.jpg' %}"></a>
        <a href="#" class="apt"><img src="{% static 'images/cover-orig-2919.jpg' %}"></a>
        <a href="#" class="apt"><img src="{% static 'images/cover-orig-30052.jpg' %}"></a>
        <a href="#" class="apt"><img src="{% static 'images/cover-orig-3029.jpg' %}"></a>
        <a href="#" class="apt"><img src="{% static 'images/cover-orig-3197.jpg' %}"></a>
        <a href="#" class="apt"><img src="{% static 'images/cover-orig-700.jpg' %}"></a>
        <a href="#" class="apt"><img src="{% static 'images/D6f0LTTUcAEaauw.jpg' %}"></a>
        <a href="#" class="apt"><img src="{% static 'images/71G1fOav8hL.jpg' %}"></a>
        <a href="#" class="apt"><img src="{% static 'images/darkpromise.jpg' %}"></a>
        <a href="#" class="apt"><img src="{% static 'images/download.jpeg' %}"></a>
        <a href="#" class="apt"><img src="{% static 'images/images (1).jpeg' %}"></a>
        <a href="#" class="apt"><img src="{% static 'images/cover-auto-11914.jpg' %}"></a>
        <a href="#" class="apt"><img src="{% static 'images/cover-auto-13995.jpg' %}"></a>
        <a href="#" class="apt"><img src="{% static 'images/cover-auto-18294.jpg' %}"></a>
        <a href="#" class="apt"><img src="{% static 'images/images (10).jpeg' %}"></a>
        <a href="#" class="apt"><img src="{% static 'images/images (11).jpeg' %}"></a>
        <a href="#" class="apt"><img src="{% static 'images/images (3).jpeg' %}"></a>
        <a href="#" class="apt"><img src="{% static 'images/images (2).jpeg' %}"></a>
        <a href="#" class="apt"><img src="{% static 'images/Brideshead-Revisited.jpg' %}"></a>
        <a href="#" class="apt"><img src="{% static 'images/c204fd2c14defe274dda5193f3a7eeb9.jpg' %}"></a>
        <a href="#" class="apt"><img src="{% static 'images/images (4).jpeg' %}"></a>
        <a href="#" class="apt"><img src="{% static 'images/images (5).jpeg' %}"></a>
        <a href="#" class="apt"><img src="{% static 'images/images (6).jpeg' %}"></a>
        <a href="#" class="apt"><img src="{% static 'images/images (7).jpeg' %}"></a>
        <a href="#" class="apt"><img src="{% static 'images/images (8).jpeg' %}"></a>
        <a href="#" class="apt"><img src="{% static 'images/images (9).jpeg' %}"></a>
        <a href="#" class="apt"><img src="{% static 'images/images.jpeg' %}"></a>
        <a href="#" class="apt"><img src="{% static 'images/1187971-M.jpg' %}"></a>
        <a href="#" class="apt"><img src="{% static 'images/Midnights-Children.jpg' %}"></a>
        <a href="#" class="apt"><img src="{% static 'images/1984novel1977orwe.jpeg' %}"></a>
        <a href="#" class="apt"><img src="{% static 'images/2324567-M.jpg' %}"></a>
        <a href="#" class="apt"><img src="{% static 'images/544664-M.jpg' %}"></a>
        <a href="#" class="apt"><img src="{% static 'images/61r7qYCoL6L.jpg' %}"></a>
        <a href="#" class="apt"><img src="{% static 'images/7248486-M.jpg' %}"></a>
        <a href="#" class="apt"><img src="{% static 'images/7396660-M.jpg' %}"></a>
        <a href="#" class="apt"><img src="{% static 'images/7habitsofhighlye00cove.jpeg' %}"></a>
        <a href="#" class="apt"><img src="{% static 'images/8053418-M.jpg' %}"></a>
        <a href="#" class="apt"><img src="{% static 'images/8412961-M.jpg' %}"></a>
        <a href="#" class="apt"><img src="{% static 'images/8569284-M.jpg' %}"></a>
        <a href="#" class="apt"><img src="{% static 'images/algebratrigonome00paul_0.jpeg' %}"></a>
        <a href="#" class="apt"><img src="{% static 'images/angelsaremyfrien0000dell.jpeg' %}"></a>
        <a href="#" class="apt"><img src="{% static 'images/animalfarm00geor_0.jpeg' %}"></a>
        <a href="#" class="apt"><img src="{% static 'images/areyoumymother00east.jpeg' %}"></a>
        <a href="#" class="apt"><img src="{% static 'images/ash.jpg' %}"></a>
        <a href="#" class="apt"><img src="{% static 'images/b494fb133f6c1215de9c8c6dca3618ef.jpg' %}"></a>
        <a href="#" class="apt"><img src="{% static 'images/bazaarofbaddream0000king.jpeg' %}"></a>
        <a href="#" class="apt"><img src="{% static 'images/bignateboredombu00linc.jpeg' %}"></a>
        <a href="#" class="apt"><img src="{% static 'images/biochemistry00garr.jpeg' %}"></a>
        <a href="#" class="apt"><img src="{% static 'images/christmastale0000stil.jpeg' %}"></a>
        <a href="#" class="apt"><img src="{% static 'images/crystalshard00salv.jpeg' %}"></a>
        <a href="#" class="apt"><img src="{% static 'images/eyesofdarkness00dean_0.jpeg' %}"></a>
        <a href="#" class="apt"><img src="{% static 'images/eyesofdarkness00koon.jpeg' %}"></a>
        <a href="#" class="apt"><img src="{% static 'images/generalchemistry00paul_0.jpeg' %}"></a>
        <a href="#" class="apt"><img src="{% static 'images/geraldsgame00king.jpeg' %}"></a>
        <a href="#" class="apt"><img src="{% static 'images/harrypotterelapi00jkro.jpeg' %}"></a>
        <a href="#" class="apt"><img src="{% static 'images/hatchet00.jpeg' %}"></a>
        <a href="#" class="apt"><img src="{% static 'images/historyofcalculu00boye.jpeg' %}"></a>
        <a href="#" class="apt"><img src="{% static 'images/historyoflove00nico.jpeg' %}"></a>
        <a href="#" class="apt"><img src="{% static 'images/holes00loui_4.jpeg' %}"></a>
        <a href="#" class="apt"><img src="{% static 'images/horridhenryrules0000simo_j5l1.jpeg' %}"></a>
        <a href="#" class="apt"><img src="{% static 'images/hungergames00coll.jpeg' %}"></a>
        <a href="#" class="apt"><img src="{% static 'images/husband00koon.jpeg' %}"></a>
        <a href="#" class="apt"><img src="{% static 'images/introductiontolo00copirich.jpeg' %}"></a>
        <a href="#" class="apt"><img src="{% static 'images/isbn_0590405950.jpeg' %}"></a>
        <a href="#" class="apt"><img src="{% static 'images/it0000king.jpeg' %}"></a>
        <a href="#" class="apt"><img src="{% static 'images/loversnotfriends00hele.jpeg' %}"></a>
        <a href="#" class="apt"><img src="{% static 'images/matildadahl00dahl.jpeg' %}"></a>
        <a href="#" class="apt"><img src="{% static 'images/mindtomurder00jame.jpeg' %}"></a>
        <a href="#" class="apt"><img src="{% static 'images/nutritionconcept08webb.jpeg' %}"></a>
        <a href="#" class="apt"><img src="{% static 'images/organicchemistry00morr_0.jpeg' %}"></a>
        <a href="#" class="apt"><img src="{% static 'images/pawsoffcheddarfa00gero.jpeg' %}"></a>
        <a href="#" class="apt"><img src="{% static 'images/physicsworldview00kirk.jpeg' %}"></a>
        <a href="#" class="apt"><img src="{% static 'images/psychologyoflang00dece.jpeg' %}"></a>
        <a href="#" class="apt"><img src="{% static 'images/rainbowsixclan00clan.jpeg' %}"></a>
        <a href="#" class="apt"><img src="{% static 'images/seaofmonsters00rior.jpeg' %}"></a>
        <a href="#" class="apt"><img src="{% static 'images/stand00step_1.jpeg' %}"></a>
        <a href="#" class="apt"><img src="{% static 'images/statisticsforbus00mccl_2.jpeg' %}"></a>
        <a href="#" class="apt"><img src="{% static 'images/talesfromnotsogl0000russ.jpeg' %}"></a>
        <a href="#" class="apt"><img src="{% static 'images/probability.jpg' %}"></a>
        <a href="#" class="apt"><img src="{% static 'images/2a301a2dd4f49b932c6a13fac81d34cd.jpg' %}"></a>
        <a href="#" class="apt"><img src="{% static 'images/6df3c7962f4e51dd7d02b98f03d2f648.jpg' %}"></a>
        <a href="#" class="apt"><img src="{% static 'images/a93602157983aa93b3cbb1c60a5d2f4b.jpg' %}"></a>
        <a href="#" class="apt"><img src="{% static 'images/b9e6052395ba047bd154ea45130026fc.jpg' %}"></a>
        <a href="#" class="apt"><img src="{% static 'images/b868a33824b303f128bf97f0fd1b5152.jpg' %}"></a>
        <a href="#" class="apt"><img src="{% static 'images/c1b7500b41f4ed27e94e310ade729673.jpg' %}"></a>
        <a href="#" class="apt"><img src="{% static 'images/c3cc8b35ca35d417544e2bc3bf9b9417.jpg' %}"></a>
        <a href="#" class="apt"><img src="{% static 'images/e65ff2809eb1992926ad82de4052e2fc.jpg' %}"></a>
        <a href="#" class="apt"><img src="{% static 'images/ea26b078e4c78a3321ce148c8c2540bc.jpg' %}"></a>
        <a href="#" class="apt"><img src="{% static 'images/cover-auto-5349.jpg' %}"></a>
        <a href="#" class="apt"><img src="{% static 'images/cover-cust-2199.jpg' %}"></a>
        <a href="#" class="apt"><img src="{% static 'images/cover-cust-5719.jpg' %}"></a>
        <a href="#" class="apt"><img src="{% static 'images/cover-cust-6261.jpg' %}"></a>
        <a href="#" class="apt"><img src="{% static 'images/cover-cust-8030.jpg' %}"></a>
        <a href="#" class="apt"><img src="{% static 'images/cover-orig-1285.jpg' %}"></a>
        <a href="#" class="apt"><img src="{% static 'images/cover-orig-2305.jpg' %}"></a>
        <a href="#" class="apt"><img src="{% static 'images/cover-orig-2306.jpg' %}"></a>
        <a href="#" class="apt"><img src="{% static 'images/cover-orig-12523.jpg' %}"></a>
        <a href="#" class="apt"><img src="{% static 'images/cover-orig-15431.jpg' %}"></a>
        <a href="#" class="apt"><img src="{% static 'images/cover-orig-28679.jpg' %}"></a>
    </div></a>
    <div id="foot">
        <form id="logout" method="POST" action="{% url 'logout' %}">
            {% csrf_token %}
            <input type="hidden"/>
        </form>
        <footer>
            <a  class="gmail" href="mailto:ojoblessingabidemi@gmail.com" target="_blank"><i class="far fa-envelope fa-lg"></i></a>
            <a class="linkedin"  href="https://www.linkedin.com/in/blessing-ojo-4848b6196" target="_blank"><i class="fab fa-linkedin fa-lg"></i></a>
            <span class="connect">Connect with us</span>
            <a  class="gmail" href="mailto:alozieuche17@gmail.com" target="_blank"><i class="far fa-envelope fa-lg"></i></a>
            <a class="linkedin"  href="https://www.linkedin.com/in/alozie-uche/" target="_blank"><i class="fab fa-linkedin fa-lg"></i></a>
            <p><span class="foot"> &#169; Blessing &#38; Nwa-Alozie</p>

        </footer>
    </div>     
</body>
</html>
{% else %}
<h3>
    LOG IN to access this page.
</h3>
{% endif %}